@import './stickWall.css';
@import './settings.css';

.dashboard-page {
  padding: 1rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 17rem 1fr 0;
  transition: grid-template-columns 300ms ease-out;

  &.act-menu_dashboard {
    grid-template-columns: 2rem 1fr 0;

    & header {
      box-shadow: none;
      padding: .5rem 0 0 0;
      background-color: transparent;
      border: none;
    }

    & header .hide {
      display: none;
    }
  }

  .dashboard-content_right {
    display: none;
  }

  &.act-content_dashboard-right {
    grid-template-columns: 17rem 2fr 400px;

    & .dashboard-content_right {
      padding: 0;
      display: block;
    }
  }

}

.header-container,
.dashboard-content_right-container {
  position: relative;
}

.dashboard-page :is(header, .dashboard-content_right) {
  background-color: var(--clr-white);
  box-shadow: var(--shadow);
  height: calc(100vh - 2rem);
  position: sticky;
  top: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  z-index: 1000;
}

.dashboard-page header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: wrap;

    & > div {
      display: flex;
      gap: .5rem;
      align-items: center;
      text-wrap: nowrap;
    }

    .user-pic {
      width: 40px;
      height: 40px;
      background-color: var(--clr-bg);
      max-width: 40px;
      border-radius: 50%;
      border: 2px solid var(--clr-gary);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .menu-list {
    border-top: 1px solid var(--clr-bg);
    padding-block: 1rem;
    margin-top: 1rem;
    display: grid;
  }

  button:not(.this-btn) {
    display: flex;
    gap: .5rem;
    font-weight: 600;
    padding: .5rem;
    border-radius: .3rem;
    transition: background-color 300ms ease-out;
    text-wrap: nowrap;

    &:is(:hover, :focus-visible, .active-sec) {
      background-color: var(--clr-blue);
      color: #fff;
    }
  }

  .menu-actions {
    display: grid;
    gap: .5rem;
  }
}

.dashboard-page .main {
  position: relative;

  .dashboard-title-page {
    position: sticky;
    top: 1rem;
    font-size: 34px;
    padding-bottom: 1rem;
    padding: 0 1rem 1rem;
    z-index: 1000;
  }
}

.dashboard-content_right {
  position: fixed !important;
  width: 400px;
  right: 1rem;
  overflow-y: auto;
  position: relative;

  & > * {
    padding: 1rem;
  }

  .dashboard-content_right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-bg);
    background-color: inherit;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

/* APPLY BLUR BACKGROUND */
.bg-blur {
  background-color: var(--clr-blur) !important;
  backdrop-filter: blur(15px);
  color: #fff;

  :is(.custom-input input, .upload-img, .user-pic) {
    background-color: transparent !important;
    backdrop-filter: blur(1px);
  }

  .user-pic {
    border-color: #fff !important;
  }

  .dashboard-content_right-header {
    background-color: transparent;
    backdrop-filter: contrast(0.1);
  }
}