.stick-wall {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0 0 1rem;

  &.center-stick {
    justify-content: center;
  }
}

.add-stick-wall {
  background-color: var(--clr-white) !important;
  display: grid;
  place-items: center;

  &:focus-visible {
    outline: 2px solid var(--clr-blue);
  }

  &:active {
    transform: scale(.95);
  }
}

.stick-wall :is(.add-stick-wall, li) {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: var(--shadow);
  width: 300px;
  aspect-ratio: 1/1;
}

.stick-wall li {
  position: relative;

  .delete-stick {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--clr-red);
    padding: .4rem;
    color: #fff;
    border-radius: 0 .5rem 0 .5rem;
    opacity: 0;
    transform: scale(.9);
    transition: 300ms ease-out;

    &:is(:hover, :focus-visible) {
      background-color: var(--clr-red-hover);
    }
  }

  &:is(:hover, :focus-visible) .delete-stick,
  .delete-stick:focus-visible {
    opacity: 1;
    transform: scale(1);
  }

  .editor {
    height: 100%;
    padding: 1rem;
    outline: none;
    border-radius: .5rem;
    transition: outline-offset 300ms ease-out;

    h1 {
      text-transform: capitalize;
    }

    &:focus {
      outline-offset: 3px;
      outline: 3px solid var(--stick-clr);
    }
  }
}